* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.btn {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  padding: 12px 24px;
  width: auto;
  border-radius: 5px;
}

.brand-logo {
  width: 100%;
}

.brand-img {
  max-width: 100%;
}

.span-through {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
